header {
  background-color: #FFFFFF;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #CCCCCC;
}

.logo {
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 142px;
  height: 70px;
  margin-left: 20px;
}
